*{
    margin: 0;
    padding: 0;
}
#back{
    background: url(side.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 380px;
}
#road{
    background: url(road.jpg);
}
#img{
    width: 180px;
    background-repeat:repeat;
}
#btn{
    background-color: yellow;
    width: 100px;
    font-size: 30px;
    margin-top: auto;
}
#dbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}